DEBUG=True
SECRET_KEY=your_secret_key
SITE_URL=https://your_domain.com
API_TOKEN_SALT=your_salt

EXTERN_AUTH_GOOGLE_CLIENT_ID=client id of your app
EXTERN_AUTH_GOOGLE_CLIENT_SECRET=secret key of your app
