{% extends 'template.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block page_title %}Проекты{% endblock %}

{% block start_of_head %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
{% endblock %}

{% block content %}
    <style>
        h1 {
            margin: 0;
        }
			  #filter_form {
						right: 0;
						max-width: 200px;
						z-index: 2;
						background-color: white;
						opacity: 0.7;
						padding: 0 0 0 8px;
				}
				#projects_map {
				    left: 0;
				    width: 100%;
						z-index: 1;
				}
				#filter_form, #projects_map {
    				position: absolute;
						height: calc(100vh - 60px - 41.4px);
				    bottom: 60px;
				}
				#filter_form h4 {
				    margin-top: 3pt;
				    margin-bottom: 3pt;
				}
		</style>

    {{ points|json_script:'points_json' }}
    {{ projects|json_script:'projects_json' }}

    <div id="popup" class="ol-popup">
  			<span id="popup-closer" class="ol-popup-closer">X</span>
			  <div id="popup-content">blabla</div>
		</div>

    <form id="filter_form">
				{% if request.user.is_authenticated %}
						<a href="{% url 'project_create' %}"><input type="button" value="Новый проект" class="btn btn-primary"></a>
				{% endif %}<br>

				<br><b>Карта</b><br>
				<input type="radio" name="baseLayerRadioButton" value="OSMStandard" checked>OSM Standard<br>
				<input type="radio" name="baseLayerRadioButton" value="OSMHumanitarian">OSM Humanitarian<br>
				<input type="radio" name="baseLayerRadioButton" value="StamenTerrain">Stamen Terrain<br>

			  <br><b>Фильтр</b><br>
			  {% if request.user.is_authenticated %}
            <input type="radio" value="my" name="which"{% if which == 'my' %} checked{% endif %}> Мои проекты
			  {% endif %}
        <input type="radio" value="all" name="which"{% if which == 'all' %} checked{% endif %}> Все проекты
			  <br><br><b>Вид деятельности</b><br>
			  <b>Принимаемое вторсырьё</b><br>
			  <b>Производимые ресурсы</b><br>
		</form>
    <div id="projects_map"></div>

		<script>
		    OSMStandard = new ol.layer.Tile({
  					source: new ol.source.OSM(),
  					visible: true,
  					title: 'OSMStandard',
				});
		    OSMHumanitarian = new ol.layer.Tile({
  					source: new ol.source.OSM({
  					    url: 'https://{a-c}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
  					}),
  					visible: false,
  					title: 'OSMHumanitarian',
				});
		    StamenTerrain = new ol.layer.Tile({
  					source: new ol.source.XYZ({
  					    url: 'http://tile.stamen.com/terrain/{z}/{x}/{y}.jpg',
  					    attributions: 'Map tiles by <a href="https://stamen.com">',
  					}),
  					visible: false,
  					title: 'StamenTerrain',
				});

				const baseLayersGroup = new ol.layer.Group({
				    layers: [OSMStandard, OSMHumanitarian, StamenTerrain],
				});

				var map_view = new ol.View({
						center: [0, 0],
						zoom: 2,
				})

				const map = new ol.Map({
						target: 'projects_map',
						layers: [OSMStandard],
						view: map_view,
				});
				map.addLayer(baseLayersGroup);

        for (let radioButton of filter_form.baseLayerRadioButton) {
            radioButton.addEventListener('change', function(event) {
								baseLayersGroup.getLayers().forEach(function(element, index, array) {
										element.setVisible(element.get('title') === event.target.value);
								});
						});
				}

        /* Отображаем точки */

				let vector_source = new ol.source.Vector({
						features: [],
				})
				let point_layer = new ol.layer.VectorImage({
						source: vector_source,
						title: 'Проект',
				});
				map.addLayer(point_layer);

				function add_points(points) {
						feature_id = 1;
						for (let point of points) {
								const Point = new ol.geom.Point(
										ol.proj.transform(point.point, 'EPSG:4326', 'EPSG:3857')
								);
								const feature = new ol.Feature(Point);
								feature.setId(feature_id+'-'+point.project_id);
								vector_source.addFeature(feature);
								feature_id += 1;
						}
				}

				let projects = JSON.parse(document.getElementById('projects_json').textContent);
				let points = JSON.parse(document.getElementById('points_json').textContent);
				add_points(points);

				/* Всплывашки :) */

        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');

        var popup_overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250,
            },
        });
        map.addOverlay(popup_overlay);

        closer.addEventListener('click', function(event) {
            popup_overlay.setPosition(undefined);
            closer.blur();
            return false;
        });

        map.on('singleclick', function(event) {
            content.innerHTML = '';
            let resolution = map_view.getResolution();
            console.log(resolution);
            console.log(event.coordinate);

            let features = [];
            map.forEachFeatureAtPixel(event.pixel, function(feature, layer) {
								features.push(feature);
						});
						if (features.length) {
						    let feature = features[0];
								let project_id = feature.getId().split('-')[1];
								let project = projects[project_id];
								console.log([project_id, project, feature]);
								content.innerHTML = '<b>'+project.title+'</b><br><br><a href="test" target="_blank">Подробнее</a>';
								popup_overlay.setPosition(event.coordinate);
						} else {
						    popup_overlay.setPosition(undefined);
						}
        });

        /* Обновление точек */

				map.on('moveend', function(event) {
				    let polygon = map.getView().calculateExtent(map.getSize());
				    console.log(polygon);
				    point_left_bottom = ol.proj.transform([polygon[0], polygon[1]], 'EPSG:3857', 'EPSG:4326');
				    point_right_top = ol.proj.transform([polygon[2], polygon[3]], 'EPSG:3857', 'EPSG:4326');
				    polygon = [point_left_bottom[0], point_left_bottom[1], point_right_top[0], point_right_top[1]];
				    console.log(polygon);
				    data = {filter: {which: filter_form.which.value}, polygon: polygon}
				    $.ajax({
								url: window.location.href + 'get_points/',
								headers: {'X-CSRFToken': CSRF_TOKEN},
								dataType: 'json',
								contentType: 'application/json',
								processData: false,
								data: JSON.stringify(data),
								success: function(result) {
								    console.log(result);
                    vector_source.clear();
								    window.projects = result.projects;
								    add_points(result.points);
								},
								statusCode: {
										500: function(xhr) {
										},
										400: function(xhr) {
										},
								},
								method:'post',
						});
				});
		</script>

{% endblock %}
