{% extends 'template.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block page_title %}Проект | {{ project.title }}{% endblock %}

{% block content %}
    <style>
        .mb-3 {
            margin-bottom: 0 !important;
        }
        .btn_edit {
            font-size: 10px;
            background-color: paleturquoise;
            cursor: pointer;
            padding: 2px 4px 2px 4px;
            border-radius: 3px;
        }
    </style>

    {{ project|json_script:'project_json' }}
    <div id="app_project_id"></div>
{% endblock %}

{% block end_of_body %}
    <script>
			  var CSRF_TOKEN = "{{ csrf_token }}";
			  var URL_PROJECT = '';
		</script>

    <script>
        fieldInputComponent = {
            props: ['name', 'modelValue'],
            emits: ['update:modelValue'],
            computed: {
                value: {
                    get() {
                       return this.modelValue;
                    },
                    set(value) {
                       this.$emit('update:modelValue', value);
                    },
                },
            },
            template: `
                <div class="mb-3 form-group" :id="name + '-group'">
                    <div class="form-floating">
                        <input v-model="value" class="form-control" type="input" :name="name" :id="name + '-field'" v-bind="$attrs">
                        <label :for="name + '-field'" class="form-label"><slot/></label>
                    </div>
                </div>
            `,
        }
    </script>

    <script>
        fieldTextareaComponent = {
            props: ['name', 'modelValue'],
            emits: ['update:modelValue'],
            computed: {
                value: {
                    get() {
                       return this.modelValue;
                    },
                    set(value) {
                       this.$emit('update:modelValue', value);
                    },
                },
            },
            template: `
                <div class="mb-3 form-group" :id="name + '-group'">
                    <div class="form-floating">
                        <textarea v-model="value" :name="name" style="width: 100%;" rows="5" class="form-control" v-bind="$attrs"></textarea>
                        <label :for="name + '-field'" class="form-label"><slot/></label>
                    </div>
                </div>
            `,
        }
    </script>

    <script>
        TeleportToHeaderComponent = {template: `<teleport to="h1"><slot/></teleport>`};
    </script>

    <script>
        FieldEditorComponent = {
            props: ['modelValue', 'isEdit', 'verboseName', 'nameEditorComponent', 'nameViewerComponent', 'showCancelBtn'],
            data() {
                return {mIsEdit: this.isEdit, errorMessage: '', prevValue: ''};
            },
            components: {fieldInputComponent, fieldTextareaComponent, TeleportToHeaderComponent},
            emits: ['update:modelValue', 'save'],
            computed: {
                value: {
                    get() {
                       return this.modelValue;
                    },
                    set(value) {
                       this.$emit('update:modelValue', value);
                    },
                },
            },
            methods: {
                set_edit(event) {
                    this.mIsEdit = true;
                    this.prevValue = this.value;
                },
                set_view(event) {
                    this.mIsEdit = false;
                },
                cancel(event) {
                    this.value = this.prevValue;
                    this.set_view();
                },
                save(event) {
                    this.$emit('save', event, this);
                },
            },
            template: `
                <div v-if="!mIsEdit">
                    <component :is="nameViewerComponent">
                        [[ value ]]
                        <span v-if="!value">[[verboseName]] отсутствует</span>
                        {% if request.user.is_authenticated %}
                            <span @click="set_edit" class="btn_edit">edit</span>
                        {% endif %}
                    </component>
                </div>
                <div v-else>
                    <component :is="nameEditorComponent" v-model="value" v-bind="$attrs"><slot/></component>
                    <span>[[ errorMessage ]]</span>
                    <br v-if="errorMessage">
                    <input type="button" value="Сохранить" @click="save" class="btn btn-primary">
                    <input type="button" value="Отменить" @click="cancel" class="btn btn-secondary" v-if="showCancelBtn">
                </div>
            `,
        }
    </script>

    <script>
        function send_form(request) {
            /*
            Required fields: url, success, self, form
            Not required: headers, statusCode, post, dataType, data
            */
            let headers = request.headers || {};
            headers['X-CSRFToken'] = CSRF_TOKEN;
            let form = request.form;

            statusCode = request.statusCode || {
								500: function(xhr) {
								    clear_status_fields(form);
										request.self.errorMessage = 'ошибка сохранения';
								},
								400: function(xhr) {
										request.self.errorMessage = '';
										clear_status_fields(form);
										set_invalid_field(form, xhr.responseJSON);
								},
						}

            $.ajax({
                url: request.url,
                headers: headers,
                dataType: request.dataType || 'json',
                data: request.data || $(form).serialize(),
                success: request.success,
                statusCode: statusCode,
                method: request.method || "post",
            });
        }
    </script>

    <script>
			  LinkerItemFaciComponent = {
			      props: ['object'],
			      template: `
                <li>
								    <a :href="object.url" target="_blank">[[object.aim]]</a>
							  </li>
					  `,
			  }
		</script>

    <script>
			  LinkerItemNoteComponent = {
			      props: ['object'],
			      template: `
                <li>
								    <a :href="object.url" target="_blank">[[object.title]]</a>
							  </li>
					  `,
			  }
		</script>

    <script>
			  LinkerComponent = {
			      props: [
			          'title',
			          'objects',
			          'numPages',
			          'item',
			          'page',
			          'createObjectText',
			          'createObjectUrl',
			          'showCreateBtn',
			          'error',
			      ],
			      components: {LinkerItemFaciComponent, LinkerItemNoteComponent},
			      template: `
                <h4>[[ title ]]</h4>
								<ul>
								    <component :is="item" v-for="object in objects" :object="object" :key="object.id"></component>
							 </ul>
							 <p v-if="error" style="color: grey;">[[ error ]]</p>
							 {% if request.user.is_authenticated %}
						    	 <div style="text-align:right;" v-if="showCreateBtn">
    						    	 <a :href="createObjectUrl" target="_blank"><button class="btn btn-secondary">[[createObjectText]]</button></a>
    				    	 </div>
    				    	 <p v-else style="color: grey;">
    				    	     добавление объектов станет доступно после сохранения названия проекта
    				    	 </p>
    				   {% endif %}
			      `,
			  }
		</script>

    <script>
        ProjectComponent = {
            props: [],
            components: {FieldEditorComponent, LinkerComponent},
            data() {
                let isNew = !Boolean(project_object);
                return {
                    title: isNew ? '' : project_object.title,
                    short_description: isNew ? '' : project_object.short_description,
                    description: isNew ? '' : project_object.description,
                    created_by: isNew ? '{{ request.user.username }}' : project_object.created_by,
                    facis: isNew ? {} : project_object.facis,
                    notes: isNew ? {} : project_object.notes,
                    isNew: isNew,
                };
            },
            methods: {
                save_project(event, fieldComponent) {
                    let self = this;
                    let form = event.target.form;
                    if (this.isNew) {
                        send_form({
                            url: URL_PROJECT,
                            form: event.target.form,
                            success: function(result) {
                                fieldComponent.errorMessage = '';
                                history.pushState(
                                    null,
                                    null,
                                    location.href.replace('/new', '/' + result.project_id),
                                );
                                fieldComponent.set_view();
                                self.isNew = false;
                            },
                            'self': fieldComponent,
                            'form': form,
                        });
                    } else {
                        send_form({
                            url: URL_PROJECT,
                            form: event.target.form,
                            success: function(result) {
                                clear_status_fields(form);
                                set_valid_field(form, result.updated_fields);
                                self.successMessage = '';
                                fieldComponent.set_view();
                            },
                            'self': fieldComponent,
                            'form': form,
                        });
                    }
                }
            },
            template: `
                <div class="row">
                    <div class="col sm-6">
												<form>
														<field-editor-component
														     name-editor-component="field-input-component"
														     name-viewer-component="teleport-to-header-component"
														     v-model="title"
														     name="title"
														     :is-edit="isNew"
														     @save="save_project"
														     verbose-name="{{ fields.title.verbose_name }}"
														     :show-cancel-btn="!isNew"
														>{{ fields.title.verbose_name }}</field-editor-component>
														<br>
														<field-editor-component
														    name-editor-component="field-textarea-component"
														    name-viewer-component="div"
														    v-model="short_description"
														    name="short_description"
														    :disabled="isNew"
														    :is-edit="isNew"
														    @save="save_project"
														    verbose-name="{{ fields.short_description.verbose_name }}"
														    :title="isNew ? 'Пожалуйста заполните и сохраните название проекта' : ''"
														    :show-cancel-btn="!isNew"
														>{{ fields.short_description.verbose_name }}</field-editor-component>
														<br>
														<field-editor-component
														    name-editor-component="field-textarea-component"
														    name-viewer-component="div"
														    v-model="description"
														    name="description"
														    :disabled="isNew"
														    :is-edit="isNew"
														    @save="save_project"
														    verbose-name="{{ fields.description.verbose_name }}"
														    :title="isNew ? 'Пожалуйста заполните и сохраните название проекта' : ''"
														    :show-cancel-btn="!isNew"
														>{{ fields.description.verbose_name }}</field-editor-component>
												</form>

												<br>

                        <p>
    												<li>Автор проекта: [[created_by]]</li>
    										</p>

                    </div>

                    <div class="col sm-6">
												<!--
												<h4>Цели проекта</h4>
												<h4>Связь с участниками</h4>
												-->

                        <linker-component
                            item="LinkerItemFaciComponent"
                            title="Холсты фасилитации"
                            :objects="facis.objects"
                            :num-pages="facis.num_pages"
                            :page="facis.page"
                            create-object-text="Новая встреча"
                            :create-object-url="facis.url_new"
                            :show-create-btn="!isNew"
                            :error="facis.error"
                        ></linker-component>

                        <linker-component
                            item="LinkerItemNoteComponent"
                            title="База знаний"
                            :objects="notes.objects"
                            :num-pages="notes.num_pages"
                            :page="notes.page"
                            create-object-text="Новая заметка"
                            :create-object-url="notes.url_new"
                            :show-create-btn="!isNew"
                            :error="notes.error"
                        ></linker-component>

									  </div>
                </div>
            `,
        }
    </script>

    <script>
        var project_object = JSON.parse(document.getElementById('project_json').textContent);
        const { createApp } = Vue;

        var app_project = createApp(ProjectComponent);
        app_project.config.compilerOptions.delimiters = [ '[[', ']]' ];
        app_project.mount('#app_project_id');
    </script>
{% endblock %}
