{% extends 'template.html' %}
{% load static %}

{% block title %}Проекты{% endblock %}
{% block page_title %}Проекты{% endblock %}

{% block content %}

    <input type="radio" value="my" name="which"{% if which == 'my' %} checked{% endif %}> Мои проекты
    <input type="radio" value="all" name="which"{% if which == 'all' %} checked{% endif %}> Все проекты

    <br>

    <a href="{% url 'project_create' %}"><input type="button" value="Новый проект" class="btn btn-primary"></a>

    <br><br>

    {% if not projects %}
        <p>Проекты отсутствуют. Вы можете быть первыми в добавлении проектов </p>
    {% endif %}

    {{ error }}

		{% for project in projects %}
        <h3><a href="{% url 'project_editor' project.title %}">{{ project.title }}</a></h3>
				<p>{{ project.short_description }}</p>
		{% endfor %}

    <p>
			  {% with request.GET.s|urlencode as search %}
		  	{% if current_page > 1 %}
    		  	<a href="{% url 'project_list' %}?{% if search %}s={{search}}&{% endif %}p=1">1</a>
		  	{% endif %}
			  {% if current_page > 2 %}
    			  <a href="{% url 'project_list' %}?{% if search %}s={{search}}&{% endif %}p={{ current_page|add:-1 }}"> << </a>
		  	{% endif %}
			  <span>{{ current_page }}</span>
			  {% if current_page < last_page|add:-1 %}
    			  <a href="{% url 'project_list' %}?{% if search %}s={{search}}&{% endif %}p={{ current_page|add:1 }}"> >> </a>
		  	{% endif %}
			  {% if current_page < last_page %}
    			  <a href="{% url 'project_list' %}?{% if search %}s={{search}}&{% endif %}p={{ last_page }}">{{ last_page }}</a>
		  	{% endif %}
			  {% endwith %}
		</p>

{% endblock %}
