{% extends 'template.html' %}
{% load static %}

{% block title %}Платформа совместной деятельности{% endblock %}
{% block page_title %}Главная станица{% endblock %}

{% block content %}
<!--
<script src="{% static 'pages/extern/mermaid.min.js' %}"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>
-->

<p>
Единое цифровое пространство, способствующее развитию Ваших проектов:
</p>

<ul>
    <li> Ведите <a href="https://cachebrain.fun" target="_blank">базу знаний</a> Вашего проекта, сохраняя идеи и опыт участников</li>
    <li> Проводите <a href="https://solveit.fun" target="_blank">продуктивные встречи</a>, фиксируя принятые на ней решения</li>
</ul>

<p>Цели Платформы:</p>

<ul>
    <li>свести к минимуму время производства и доставки необходимых для Вашего проекта ресурсов (запчасти, сырьё)</li>
    <li>повысить до максимума интенсивность обмена опытом и знаниями между проектами разных команд</li>
    <li>сделать возможность освежать знания о передовых наработках в технологиях, которые сделаны другими командами сегодня</li>
    <li>моментально возвращать в оборот вторичное сырьё путём его использования в проектах (напрямую или через переработки)</li>
</ul>


{% endblock %}
