{% extends 'template.html' %}
{% load static %}

{% block description %}
Сервис для ведения проектной деятельности
{% endblock %}

{% block keywords %}
проекты, размещение проектов на карте, описк проектов
{% endblock %}

{% block title %}Платформа межкомандного взаимодействия{% endblock %}
{% block page_title %}Главная страница{% endblock %}

{% block content %}
<!--
<script src="{% static 'pages/extern/mermaid.min.js' %}"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>
-->

<p>
Единое цифровое пространство, способствующее развитию Ваших проектов:
</p>

<ul>
    <li>Ведите <a href="https://cachebrain.fun" target="_blank">базу знаний</a> Вашего проекта, сохраняя идеи и опыт участников</li>
    <li>Проводите <a href="https://solveit.fun" target="_blank">продуктивные встречи</a>, фиксируя принятые на ней решения</li>
    <li>Объединяйте <a href="{% url 'project_list' %}" target="_blank">вокруг Вашего проекта</a> разнородные данные</li>
</ul>

<p>Цели Платформы:</p>

<ul>
    <li>Уменьшить время производства и доставки необходимых для Вашего проекта ресурсов (запчасти, сырьё)</li>
    <li>Повысить интенсивность обмена опытом и знаниями между командами разных проектов</li>
    <li>Позволить освежать знания о технологических наработках, полученными другими командами сегодня</li>
    <li>Моментально возвращать в оборот вторичное сырьё путём его использования в проектах (напрямую или через переработку)</li>
</ul>

<p style="text-align: center;">
  	<a href="{% url 'project_create' %}"><button class="btn btn-primary">Начать вести Ваш проект на Платформе</button></a>
</p>

<p>
  <b>Внимание!</b> Контент, создаваемый на данном веб-сервисе, является доступным, в том числе и незарегистрированным посетителям.
  Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
</p>

{% endblock %}
